@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tilt+Neon&display=swap');

/* Centrado de la sección de banner */
.relative-a {
  display: flex;
  justify-content: center;
  align-items: center;  /* Centra verticalmente */
  flex-direction: column;  /* Asegura que los elementos se alineen verticalmente */
  height: 100vh; /* Asegura que ocupe toda la pantalla */
  font-family: 'Open Sans', sans-serif;
}

.title-cs-hl {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 5rem;
  color: #f78502;
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px; /* Ajusta el margen inferior si es necesario */
}

.title-cs-hl2 {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: 900;
  margin-bottom: 20px; /* Ajusta el margen inferior si es necesario */
}

.dwn-title-cs{
  font-family: 'Tilt Neon', sans-serif;
}

.descargar-cs-sec{
  font-family: 'Open Sans', sans-serif;
}

.font-grid-cs-hl1{
  font-family:'Open Sans', sans-serif;
}

.title-stylus-a-hl {
  font-family: 'Tilt Neon', sans-serif;
  font-size: 3rem;
  color: #f78502;
  text-align: center;
  font-weight: 900;
  margin-bottom: 20px; /* Ajusta el margen inferior si es necesario */
}

.normal-cs-p-hl{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.img-cs-hl {
  width: 25rem;
  height: auto;
  margin-bottom: 20px; /* Ajusta el margen para dar espacio entre la imagen y el texto */
  z-index: 10;
}

/* Fondo de la sección */
.bg-spheres {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Asegura que la sección ocupe toda la altura de la ventana */
}

/* Esferas de fondo */
.bg-spheres .sphere {
  position: absolute;
  border-radius: 50%;
  z-index: 0; /* Coloca las esferas al fondo */
  background: rgba(247, 133, 2, 0.483); /* Naranja */
  filter: blur(100px);
}

/* Ajuste de las esferas */
.bg-spheres .sphere:nth-child(1) {
  top: 35px;
  left: 10px;
  width: 350px;
  height: 350px;
}

.bg-spheres .sphere:nth-child(2) {
  top: 40%;
  right: 30px;
  width: 400px;
  height: 400px;
}

@media (max-width: 768px) {
  .bg-spheres .sphere {
    display: none; /* Ocultar las esferas en dispositivos móviles */
  }
}

.bg-gradient-center-light {
  background-color: #ffffff; /* Color de fondo principal */
  background-image: 
    radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.3), transparent 60%),
    radial-gradient(circle at 80% 20%, rgba(255, 255, 255, 0.3), transparent 60%),
    radial-gradient(circle at 50% 70%, rgba(215, 81, 28, 0.3), transparent 60%),
    radial-gradient(circle at 30% 80%, rgba(255, 255, 255, 0.3), transparent 60%),
    radial-gradient(circle at 70% 60%, rgba(255, 255, 255, 0.3), transparent 60%),
    radial-gradient(circle at 90% 90%, rgba(255, 255, 255, 0.3), transparent 60%);
  background-size: cover;
}
@keyframes slide-fade-down {
  0% {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    max-height: 500px; /* Ajusta el valor según el contenido máximo */
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-fade-down {
  overflow: hidden; /* Oculta el contenido durante el deslizamiento */
  animation: slide-fade-down 0.5s ease-out forwards; /* Ajusta la duración según prefieras */
}

/* Esferas flotando */
.bg-spheres .sphere:nth-child(1) {
  top: 35px; /* Ajustar la posición vertical (superior) */
  left: 10; /* A la izquierda */
  width: 350px; /* Tamaño grande */
  height: 350px; /* Tamaño grande */
}

.bg-spheres .sphere:nth-child(2) {
  top: 40%; /* Ajustar la posición vertical (inferior) */
  right: 30px; /* A la derecha */
  width: 400px; /* Tamaño grande */
  height: 400px; /* Tamaño grande */
}